body {
  min-width: 320px;
  padding: 8px;
  margin: 0;
  font-family: RubikVariable, ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url("assets/fonts/MaterialSymbolsOutlined.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  transition: color 0.3s ease;
  user-select: none;
}

#popup-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
